# Cineast Caches
cineast_cache*

*.orig
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Proto Files
*.bin

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
build
bin
.gradle
.project
.classpath
.settings/

##IntelliJ
.idea
cineast.iml

##Data
/proto/
/representative_frames/
/thumbnails/
/queryImages/

##Framecache
/framecache_*

##Art-UI
/cache/
/mycache/

##Tensorflow
*.tfmodel
/data/
/retrieval_results/
retrieval_results_*
out/
basel-historic-images/
index*

##JSON
/db/**/*.json

/benchmark-default.csv

*.hogcb
*.surfcb
*.pb

##macOS
.DS_Store
