<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c{1.} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="io" level="ERROR">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org" level="INFO">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.vitrivr.cineast" level="TRACE">
            <AppenderRef ref="Console"/>
        </logger>
        <Root level="info">
        </Root>
    </Loggers>
</Configuration>
